html {
    /* Needed to fix footer at bottom of browser */
    position: relative;
    min-height: 100%;
}

body {
    /* Move down content because of fixed navbar at top */
    padding-top: 50px;
    /* Set margin bottom allow for footer height */
    margin-bottom: 50px;
    font-family: Candara, Geneva, sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #0a083d;
    color: #f7fba0;
}

section {
    background-color: #525092;
    color: #fdfed9
}

.links a:link {
    color: #d7da7f;
}

.links a:visited {
    color: #8b8f27;
}

.links a:hover {
    color: #ffffff;
}

footer div {
    margin-top: -7px;
    font-size: 80%
}

:target {
    padding-top: 90px;
}

.carousel-caption {
    color: #000000;
}

.carousel-inner>.item>a>img {
    display: inline;
}

.carousel-caption {
    position: static;
}

.carousel-indicators {
    position: relative;
    top: 500px;
    background-color: #0a083d
}

ul {
    list-style-type: none;
}

.navbar {
    background-color: #0a083d;
}

footer a {
    color: #ccd061;
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 120%;
    }
    h1,
    h3 {
        font-size: 190%;
    }
    h4 {
        font-size: 100%;
    }
    p {
        font-size: 150%;
    }
    ul {
        font-size: 150%;
    }
}