html {
    /* Needed to fix footer at bottom of browser */
    position: relative;
    min-height: 100%;
}

body {
    /* Move down content because of fixed navbar at top */
    padding-top: 50px;
    /* Set margin bottom allow for footer height */
    margin-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #000000;
    color: #ffffff;
}
footer div {margin-top: -7px;
font-size: 80%}
.carousel-caption {color: #000000; }
#myCarousel img {}
ul {list-style-type: none;}